main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxItems {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
}
.container {
  max-width: 95%;
  margin: auto;
}

footer {
  padding: 10px;
}
footer .icon {
  font-size: 20px;
  margin-left: 10px;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
